.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
}

.conteiner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section-hero .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer .conteiner {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .conteiner {
    flex-wrap: nowrap;
  }
}

.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-btn {
  min-width: 200px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.footer-btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover, .footer-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.submit-icon {
  fill: currentColor;
  margin-left: 10px;
}

.portfolio-list-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  padding: 6px 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-btn:hover, .portfolio-list-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.submit-btn {
  min-width: 200px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social {
    align-items: flex-start;
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.social-title,
.submit-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social-title,
  .submit-title {
    text-align: left;
  }
}

.social-list {
  display: flex;
  align-items: flex-start;
}

.team-list .social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-list .social-list {
    margin-bottom: 30px;
  }
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.social-dark-theme {
  fill: #ffffff;
}

.social-light-theme {
  fill: #afb1b8;
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  color: #212121;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo:hover, .logo:focus {
  opacity: 0.5;
}

.logo-color {
  color: #2196f3;
}

.footer-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.footer-logo:hover, .footer-logo:focus {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.we-doing-title,
.team-title,
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.burger-btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  width: 40px;
  height: 40px;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
  .navigation-list-item:not(:last-child) {
    display: flex;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.navigation-list-link {
  display: block;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.head-contacts {
  display: flex;
  align-items: center;
  color: #757575;
  fill: currentColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .head-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.head-contacts:hover, .head-contacts:focus {
  color: #2196f3;
}

.icon-mail {
  display: flex;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-contacts:hover .icon-mail,
.head-contacts:focus .icon-mail {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .icon-mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-mail {
    width: 16px;
    height: 12px;
  }
}

.icon-smartphone {
  display: flex;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-contacts:hover .icon-smartphone,
.head-contacts:focus .icon-smartphone {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .icon-smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

.current-tablet-desktop {
  position: relative;
  color: #2196f3;
}

.current-tablet-desktop::after {
  display: block;
  position: absolute;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.section-hero {
  margin: 0 auto;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding: 118px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-desktop.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/hero-desktop@2x.jpg);
  }
}

.section-info {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-info {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.info-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .info-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.info-item {
  display: inline-block;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .info-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .info-item {
    max-width: 270px;
  }
}

.info-icon {
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.info-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .info-item-title {
    text-align: center;
  }
}

.info-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-we-doing {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-we-doing {
    display: none;
  }
}

.we-doing-list {
  display: flex;
  justify-content: space-between;
}

.we-doing-item {
  position: relative;
}

.we-doing-text {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  display: inline-block;
  margin: 15px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.section-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.customers-link-pic {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-link-pic,
.customers-link:focus .customers-link-pic {
  fill: #2196f3;
}

.customers-item {
  margin: 15px;
  width: calc((100% - 2*30px)/2);
}

@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 3*30px)/3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-item {
    width: calc((100% - 6*30px)/6);
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts-list {
    align-items: flex-start;
    margin-right: 70px;
    margin-bottom: 0;
    width: 231px;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address-list {
    align-items: flex-start;
  }
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: #2196f3;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-map:hover, .address-map:focus {
  color: #2196f3;
}

.footer-submit {
  width: 100%;
}

.footer-submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-submit-form {
    flex-direction: row;
  }
}

.footer-submit-input {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-submit-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-submit-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit-input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 95%;
  height: 95%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  overflow: scroll;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 580px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 480px) {
  .modal-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-form-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.modal-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-box {
  position: relative;
}

.modal-box:hover, .modal-box:focus {
  fill: #2196f3;
  cursor: pointer;
}

.modal-input {
  outline: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-form-icon,
.modal-input:focus + .modal-form-icon {
  fill: #2196f3;
  cursor: pointer;
}

.modal-textarea {
  outline: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  overflow: scroll;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover, .modal-textarea:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.modal-textarea:hover::placeholder, .modal-textarea:hover::placeholder, .modal-textarea:focus::placeholder, .modal-textarea:focus::placeholder {
  color: #2196f3;
}

.conteiner-checkbox {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.checkbox-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label:focus-within .checkbox-input:checked {
  background-color: #2196f3;
  background-image: url("../images/sprite-svg/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 14px;
  height: 14px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  background-image: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .checkbox-icon {
    width: 16px;
    height: 15px;
  }
}

.checkbox-label:hover .checkbox-icon,
.checkbox-label:focus-within .checkbox-icon {
  border: 2px solid #2196f3;
  cursor: pointer;
}

.checkbox-input:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url("../images/sprite-svg/icon-check.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-link {
  color: #2196f3;
}

.btn-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 35px;
  }
}

.btn-item {
  margin-bottom: 15px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-list-item {
  display: flex;
  margin: 15px;
  outline: 1px solid #eeeeee;
}

.portfolio-list-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover, .portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  padding: 77px 24px;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: scroll;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover .thumb-text,
.portfolio-list-link:focus .thumb-text {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .thumb-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb-text {
    padding: 63px 24px;
  }
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.cards-title {
  padding: 20px 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards-title {
    width: 354px;
  }
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.burger-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover, .burger-btn:focus {
  fill: #2196f3;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  visibility: hidden;
  pointer-events: none;
  overflow: scroll;
  padding: 48px 40px;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0);
  visibility: visible;
  pointer-events: visible;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-close-btn {
  display: inline-flex;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-btn:hover, .mobile-close-btn:focus {
  fill: #2196f3;
  cursor: pointer;
}

.mobile-close-icon {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 440px) {
  .mobile-menu-nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
}

.mobile-menu-nav-link.current {
  color: #2196f3;
}

.mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
  color: #2196f3;
}

.mobile-menu-contacts {
  margin-top: auto;
}

.mobile-menu-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 440px) {
  .mobile-menu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
  }
}

.mobile-menu-mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 440px) {
  .mobile-menu-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
}

.mobile-menu-mail:hover, .mobile-menu-mail:focus {
  color: #2196f3;
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-social-item:not(:last-child) {
  margin-right: 6px;
  padding-right: 6px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 440px) {
  .mobile-social-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
  }
}

.mobile-social-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 440px) {
  .mobile-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}
/*# sourceMappingURL=main.css.map */