.btn-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 15px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 35px;
    }
}
.btn-item {
    margin-bottom: 15px;
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}
