.section-team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-background-color;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.team-item {
    display: inline-block;
    margin: 15px;
    background-color: $background-card-team;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    margin-bottom: 30px;
}

.team-name {
    @include text($fw:500, $fs:16px, $lh:1.19);
    text-align: center;
    color: $title-color;
    margin-bottom: 10px;
}

.team-profession {
    @include text($fw:400, $fs:16px, $lh:1.19);
    text-align: center;
    margin-bottom: 16px;
}
