    $primary-text-color: #757575;
    $title-color: #212121;
    $footer-background-color: #2f303a;
    $accent-color: #2196f3;
    $secondary-background-color: #f5f4fa;
    $background-card-team: #ffffff;
    $background-mobile-menu: #ffffff;
    $background-modal: #ffffff;
    $btn-color: #ffffff;
    $btn-hover-bgcolor: #188ce8;
    $hero-title-color: #ffffff;
    $background-hero-color: #c4c4c4;
    $social-icon-light-theme: #afb1b8;
    $customers-link-color: #afb1b8;
    $social-icon-dark-theme: #ffffff;
    $time-hover: 250ms;
    $primary-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;